<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to 'Bourbon Gear CMS', gear_pages_url, class:"brand" %>

    <div class="nav-collapse collapse">   
      <ul class="nav">
        <li><%= link_to 'Home', gear_pages_url %>  </li>
        <li><%= link_to 'Gear', gear_pages_url %></li>


      </ul>
    </div>

</div>
</div>